In [1]:
import pandas as pd

In [2]:
file1='/content/drive/MyDrive/RegressionFullDataSet.csv'

In [3]:
df=pd.read_csv(file1)

In [4]:
df

        Unnamed: 0  Unnamed: 0.1  Unnamed: 0_x  ... humidity_y  time_y  TargetDelay
0                0             6        356840  ...         66     700            1
1                1             7        145879  ...         66     700            1
2                2            12         37814  ...         81    1300            1
3                3            13           887  ...         83    1300            1
4                4            36        221121  ...         88    1200            1
...            ...           ...           ...  ...        ...     ...          ...
379361      379361       1815378        414558  ...         70    1800            1
379362      379362       1815379        413458  ...         84     600            1
379363      379363       1815385        441434  ...         86    2300            1
379364      379364       1815395        449441  ...         93    2200            1
379365      379365       1815401        455805  ...         75    2200            1

[379366 rows x 53 columns]

In [6]:
df['ArrDelayMinutes'].max()

2142.0

In [54]:
temp=[]
t=-1
for i in df['ArrDelayMinutes']:
  t+=1
  if i>=15 and i<300 :
    temp.append(t)

In [72]:
len(temp)

374349

In [55]:
dictt={}
a=0
for i in temp:
  a+=1
  dictt[a]=df.loc[i]

In [58]:
df_under300=pd.DataFrame(dictt)

In [60]:
df_under300=df_under300.transpose()

In [61]:
df_under300

       Unnamed: 0 Unnamed: 0.1 Unnamed: 0_x  ... humidity_y time_y TargetDelay
1               0            6       356840  ...         66    700           1
2               1            7       145879  ...         66    700           1
3               2           12        37814  ...         81   1300           1
4               3           13          887  ...         83   1300           1
5               4           36       221121  ...         88   1200           1
...           ...          ...          ...  ...        ...    ...         ...
374345     379361      1815378       414558  ...         70   1800           1
374346     379362      1815379       413458  ...         84    600           1
374347     379363      1815385       441434  ...         86   2300           1
374348     379364      1815395       449441  ...         93   2200           1
374349     379365      1815401       455805  ...         75   2200           1

[374349 rows x 53 columns]

In [51]:
temp1=[]
r=-1
for j in df['ArrDelayMinutes']:
  r+=1
  if j>=300 and j<600 :
    temp1.append(r)

In [73]:
dictt1={}
a=0
for i in temp1:
  a+=1
  dictt1[a]=df.loc[i]

In [74]:
df_under600=pd.DataFrame(dictt1).transpose()

In [75]:
df_under600

     Unnamed: 0 Unnamed: 0.1 Unnamed: 0_x  ... humidity_y time_y TargetDelay
1            62          357         6695  ...         57    700           1
2            96          597       347478  ...         95    700           1
3           132          849       354986  ...         82    700           1
4           154         1088       204086  ...         92    600           1
5           217         1741           78  ...         85    600           1
...         ...          ...          ...  ...        ...    ...         ...
4140     378822      1811068       357114  ...         58   1300           1
4141     378867      1811421       348672  ...         90    700           1
4142     378913      1811590       193499  ...         74   1900           1
4143     379028      1812387       458138  ...         60   1000           1
4144     379350      1815219       154765  ...         83    500           1

[4144 rows x 53 columns]

In [49]:
temp2=[]
e=-1
for k in df['ArrDelayMinutes']:
  e+=1
  if k>=600 and k<1000 :
    temp2.append(e)

In [76]:
dictt2={}
a=0
for i in temp2:
  a+=1
  dictt2[a]=df.loc[i]

In [77]:
df_under1000=pd.DataFrame(dictt2).transpose()

In [78]:
df_under1000

    Unnamed: 0 Unnamed: 0.1 Unnamed: 0_x  ... humidity_y time_y TargetDelay
1          130          826       423141  ...         74    700           1
2         3616        20495        31257  ...         97   1800           1
3         4153        23185       366005  ...         78   1900           1
4         4161        23196       145248  ...         91   2200           1
5         5110        27844       342037  ...         88   1800           1
..         ...          ...          ...  ...        ...    ...         ...
695     376982      1797686       164404  ...         92    900           1
696     378011      1804060       156681  ...         72    700           1
697     378678      1810046       432121  ...         50   2300           1
698     379177      1814003        90291  ...         83   2300           1
699     379194      1814108       203990  ...         68   2200           1

[699 rows x 53 columns]

In [47]:
temp3=[]
w=-1
for h in df['ArrDelayMinutes']:
  w+=1
  if h>=1000 and h<1500 :
    temp3.append(w)

In [79]:
dictt3={}
a=0
for i in temp3:
  a+=1
  dictt3[a]=df.loc[i]

In [80]:
df_under1500=pd.DataFrame(dictt3).transpose()

In [81]:
df_under1500

    Unnamed: 0 Unnamed: 0.1 Unnamed: 0_x  ... humidity_y time_y TargetDelay
1         8116        42120        37877  ...         82    500           1
2        10265        52708       154743  ...         37   1400           1
3        12638        67118        13125  ...         76   1900           1
4        13477        73206        40205  ...         27   1000           1
5        13940        75877        41195  ...         65    800           1
..         ...          ...          ...  ...        ...    ...         ...
159     368493      1744175       463152  ...         97   1600           1
160     369551      1754260        76146  ...         76   1500           1
161     371613      1767506       145563  ...         79   1100           1
162     372334      1770855       151006  ...         80   2100           1
163     379297      1814867       188907  ...         16   1200           1

[163 rows x 53 columns]

In [45]:
temp4=[]
q=-1
for g in df['ArrDelayMinutes']:
  q=q+1
  if g>=1500 :
   
    temp4.append(q)
    #temp4.append(g)

In [65]:
a=0
dicttt={}
for i in temp4:
  a+=1
  dicttt[a]=(df.loc[i])

In [82]:
df_over1500=pd.DataFrame(dicttt).transpose()

In [83]:
df_over1500

   Unnamed: 0 Unnamed: 0.1 Unnamed: 0_x  ... humidity_y time_y TargetDelay
1       14272        78270        27920  ...         85    800           1
2       42999       241670        57345  ...         81   1800           1
3       49342       263755        25853  ...         91    800           1
4      153985       764385       263116  ...         75    600           1
5      163863       800902       281038  ...         76   1000           1
6      221118      1085649       158400  ...         76    900           1
7      230606      1155681        82630  ...         97    700           1
8      231668      1163178        61260  ...         93    700           1
9      277188      1382842       169824  ...         26   1200           1
10     304557      1485585       319488  ...         41   1000           1
11     311680      1516372       356396  ...         85    800           1

[11 rows x 53 columns]

In [84]:
df_under300.to_csv("Under300.csv")

In [85]:
df_under600.to_csv("Under600.csv")

In [86]:
df_under1000.to_csv("Under1000.csv")

In [87]:
df_under1500.to_csv("Under1500.csv")

In [88]:
df_over1500.to_csv("Over1500.csv")