In [1]:
import pandas as pd
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [2]:
file1=open('/content/drive/MyDrive/UpdatesMerge.csv')

In [3]:
df=pd.read_csv(file1)

In [5]:
df

         Unnamed: 0  Quarter  Year  ...  WindChillF_x  humidity_x  TargetDelay
0                 0        1  2016  ...            32          74            0
1                 1        1  2016  ...            47          46            0
2                 2        1  2016  ...            47          46            0
3                 3        1  2016  ...            33          74            0
4                 4        1  2016  ...            49          42            0
...             ...      ...   ...  ...           ...         ...          ...
1815400     1815400        3  2017  ...            74          87            0
1815401     1815401        3  2017  ...            65          91            1
1815402     1815402        3  2017  ...            67          75            0
1815403     1815403        3  2017  ...            68          80            0
1815404     1815404        3  2017  ...            72          78            0

[1815405 rows x 25 columns]

In [4]:
X=df.drop(['TargetDelay'],axis=1)
y=df.TargetDelay

In [5]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 0.25, random_state = 19)

In [6]:
Counter(y)

Counter({0: 1436039, 1: 379366})

In [7]:
oversample = SMOTE()
XS_train, YS_train = oversample.fit_resample(X_train, Y_train)

In [8]:
counter = Counter(YS_train)

In [9]:
counter

Counter({0: 1076740, 1: 1076740})

In [16]:
len(X)

19800

In [10]:
from sklearn.ensemble import ExtraTreesClassifier
etc=ExtraTreesClassifier(n_jobs=-1,random_state = None)
etc.fit(XS_train,YS_train)

ExtraTreesClassifier(n_jobs=-1)

In [11]:
Y_predetc=etc.predict(X_test)

In [12]:
from sklearn.metrics import classification_report
target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predetc,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.94      0.94      0.94    359299
     Class 1       0.77      0.76      0.77     94553

    accuracy                           0.90    453852
   macro avg       0.85      0.85      0.85    453852
weighted avg       0.90      0.90      0.90    453852

In [13]:
DecClf=DecisionTreeClassifier()

In [14]:
DecClf.fit(XS_train,YS_train)

DecisionTreeClassifier()

In [15]:
Y_predDec=DecClf.predict(X_test)

In [16]:
target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predDec,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.92      0.91      0.92    359299
     Class 1       0.68      0.71      0.69     94553

    accuracy                           0.87    453852
   macro avg       0.80      0.81      0.81    453852
weighted avg       0.87      0.87      0.87    453852

In [25]:
lr=LogisticRegression(max_iter=1000000)

In [26]:
lr.fit(XS_train,YS_train)

LogisticRegression(max_iter=1000000)

In [27]:
Y_predLR=lr.predict(X_test)

In [28]:
target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predLR,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.94      0.93      0.94    359299
     Class 1       0.75      0.77      0.76     94553

    accuracy                           0.90    453852
   macro avg       0.85      0.85      0.85    453852
weighted avg       0.90      0.90      0.90    453852

In [29]:
XGBB = XGBClassifier().fit(XS_train,YS_train)

In [30]:
Y_predXG=XGBB.predict(X_test)

In [31]:
target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predXG,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.93      0.96      0.95    359299
     Class 1       0.83      0.73      0.78     94553

    accuracy                           0.91    453852
   macro avg       0.88      0.85      0.86    453852
weighted avg       0.91      0.91      0.91    453852