In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from collections import Counter
from xgboost import XGBClassifier



from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
file1=open('/content/drive/MyDrive/finalmerge.csv')

In [3]:
df=pd.read_csv(file1)

In [ ]:

df.shape

(1815405, 51)

In [ ]:
df

         Unnamed: 0  Unnamed: 0_x  FlightDate  ...  WindChillF_y  humidity_y  time_y
0                 0            57  2016-01-01  ...            29          66     700
1                 1        219870  2016-01-01  ...            29          66     700
2                 2        356730  2016-01-01  ...            29          66     700
3                 3        334974  2016-01-01  ...            29          66     700
4                 4        356750  2016-01-01  ...            29          66     700
...             ...           ...         ...  ...           ...         ...     ...
1815400     1815400        453453  2017-09-18  ...            69          92    2200
1815401     1815401        455805  2017-09-21  ...            72          75    2200
1815402     1815402        456636  2017-09-22  ...            71          63    2200
1815403     1815403        457242  2017-09-23  ...            86          55    2100
1815404     1815404        458172  2017-09-24  ...            74          87    2200

[1815405 rows x 51 columns]

In [4]:
k=[]
for i in df.ArrDelayMinutes:
  if i>=15:
      app=1      
  else:
      app=0
  k.append(app)

In [5]:
df['TargetDelay']=k

In [ ]:
X

         Quarter  Year  Month  ...  tempF_x  WindChillF_x  humidity_x
0              1  2016      1  ...       41            32          74
1              1  2016      1  ...       51            47          46
2              1  2016      1  ...       51            47          46
3              1  2016      1  ...       42            33          74
4              1  2016      1  ...       53            49          42
...          ...   ...    ...  ...      ...           ...         ...
1815400        3  2017      9  ...       74            74          87
1815401        3  2017      9  ...       65            65          91
1815402        3  2017      9  ...       67            67          75
1815403        3  2017      9  ...       68            68          80
1815404        3  2017      9  ...       72            72          78

[1815405 rows x 21 columns]

In [6]:


X=df.drop(["DepDel15", 	"DepDelayMinutes",

           "ArrDelayMinutes",
                "ArrTime",
                "ArrDel15",
                 "Unnamed: 0_x",
                 "Unnamed: 0_y",
                 "Unnamed: 0.1",
                "Origin",
                "Dest",
                "airport_x",
                "airport_y",
                "FlightDate",
                "date_y",
                "date_x",
                "time_x",
                "time_y",
                "windspeedKmph_y",
                "winddirDegree_y",
                "weatherCode_y",
                "precipMM_y",
                "visibility_y",
                "pressure_y",
                "cloudcover_y",
                "DewPointF_y",
                "WindGustKmph_y",
                "tempF_y",
               "WindChillF_y",
               "humidity_y",
           "TargetDelay","Unnamed: 0"],axis=1)
X
Y=df["TargetDelay"]

In [7]:
from sklearn.model_selection import train_test_split  
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.30,random_state=None)

In [ ]:
Counter(Y_test)

Counter({0: 431103, 1: 113519})

In [ ]:


from sklearn.ensemble import ExtraTreesClassifier
etc=ExtraTreesClassifier(n_jobs=-1,random_state = None)
etc.fit(X_train,Y_train)

In [ ]:
Y_predetc=etc.predict(X_test)

In [ ]:
#ACCURACY

accuracy_score(Y_test, Y_predetc)

In [ ]:



target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predetc,target_names=target_names))

In [ ]:
DecClf=DecisionTreeClassifier()

In [ ]:
DecClf.fit(X_train,Y_train)

DecisionTreeClassifier()

In [ ]:
Y_predDec=DecClf.predict(X_test)

In [ ]:

target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predDec,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.90      0.89      0.90    430278
     Class 1       0.60      0.63      0.62    114344

    accuracy                           0.84    544622
   macro avg       0.75      0.76      0.76    544622
weighted avg       0.84      0.84      0.84    544622

In [ ]:
Counter(Y_predDec)

Counter({0: 425013, 1: 119609})

In [ ]:
XGBB=XGBClassifier()

In [ ]:
XGBB.fit(X_train,Y_train)

XGBClassifier()

In [ ]:
Y_predXG=XGBB.predict(X_test)

In [ ]:
target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predXG,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.85      1.00      0.92    358621
     Class 1       0.96      0.33      0.49     95231

    accuracy                           0.86    453852
   macro avg       0.90      0.66      0.70    453852
weighted avg       0.87      0.86      0.83    453852

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_predXG)

0.8565303226602505

In [8]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
rf_clf=RandomForestClassifier(n_estimators = 120,max_features=18)

In [10]:
rf_clf.fit(X_train,Y_train)

RandomForestClassifier(max_features=18, n_estimators=120)

In [11]:
Y_predRF=rf_clf.predict(X_test)

In [12]:
target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predRF,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.90      0.97      0.94    430612
     Class 1       0.85      0.60      0.70    114010

    accuracy                           0.89    544622
   macro avg       0.88      0.78      0.82    544622
weighted avg       0.89      0.89      0.89    544622

In [ ]:
accuracy_score(Y_test, Y_predRF)

0.8727668931722236

In [ ]:
lr=LogisticRegression(max_iter=1000000)

In [ ]:
lr.fit(X_train,Y_train)

LogisticRegression(max_iter=1000000)

In [ ]:
Y_predLR=lr.predict(X_test)

In [ ]:
target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predLR,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.81      1.00      0.90    358621
     Class 1       0.99      0.15      0.25     95231

    accuracy                           0.82    453852
   macro avg       0.90      0.57      0.58    453852
weighted avg       0.85      0.82      0.76    453852

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_predLR)

0.8202012991019099

In [ ]:
len(Y_predRF)

544622

In [14]:
weight=pd.DataFrame(X_test)

In [15]:
weight['PredictDelay']=Y_predRF

In [13]:

Counter(Y_predRF)

#Counter(Y_predDec)
#Counter(Y_predetc)

Counter({0: 464609, 1: 80013})

In [ ]:
Counter(Y_predXG)

Counter({0: 420931, 1: 32921})

In [ ]:
Counter(Y_predLR)

Counter({0: 439829, 1: 14023})

In [16]:
index = weight.index

condition = weight["PredictDelay"] == 1

indexlist= index[condition]


indexlist = indexlist.tolist()

In [17]:
len(indexlist)

80013

In [18]:
dictt={}

k=0
for i in indexlist:
  
    dictt[k]= df.loc[i]
    k+=1

In [19]:
len(dictt)

80013

In [20]:
data=pd.DataFrame(dictt)

In [21]:
data=data.transpose()

In [22]:
data

      Unnamed: 0 Unnamed: 0_x  FlightDate  ... humidity_y time_y TargetDelay
0         690462       456236  2016-07-30  ...         80   1200           1
1        1060444       337810  2017-10-11  ...         61   1700           1
2        1058448       347338  2017-10-10  ...         66   1100           0
3        1364285       193292  2017-04-04  ...         68   1200           1
4        1300496         5776  2017-03-24  ...         74   1100           1
...          ...          ...         ...  ...        ...    ...         ...
80008     265522        64211  2016-12-11  ...         85   1700           1
80009     167452         9667  2016-11-09  ...         78   1300           1
80010     474816       447542  2016-04-08  ...         51    700           1
80011    1297246       337557  2017-03-16  ...         66   1800           1
80012     661513        91863  2016-06-27  ...         88   2000           1

[80013 rows x 52 columns]

In [23]:
data.to_csv("RegressionDataTuned.csv")